## Step 1: Connect to the database and read the values

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres@localhost/shuttle_database')

conn = engine.connect()
input_df = pd.read_sql("SELECT * FROM shuttle_locations WHERE local_timestamp > '2017-09-15' AND local_timestamp < '2017-09-20'", conn)
input_df

,shuttle_id,tech_provider_id,shuttle_company_id,local_timestamp,location,cnn
0,252,2,2,2017-09-19 22:46:22,"(-122.3967933,37.7457141)",5988000.0
1,125,2,2,2017-09-19 22:46:22,"(-122.3963909,37.745213)",NaN
2,115,2,1,2017-09-19 22:52:47,"(-122.3930867,37.7555999)",10336000.0
3,313,2,1,2017-09-19 22:52:47,"(-122.3935873,37.7558359)",NaN
4,242,2,2,2017-09-19 22:58:07,"(-122.396788,37.7456755)",NaN
5,100,2,2,2017-09-19 22:58:06,"(-122.3963553,37.745296)",NaN
6,319,2,2,2017-09-19 22:58:05,"(-122.3966214,37.7456051)",5988000.0
7,21,2,1,2017-09-19 22:58:11,"(-122.3849934,37.7544446)",NaN
8,113,4,5,2017-09-19 17:53:16,"(-122.423787,37.788707)",5823000.0
9,97,2,2,2017-09-19 23:02:52,"(-122.396892,37.745798)",5988000.0
10,137,2,1,2017-09-19 23:09:20,"(-122.3935328,37.7558981)",NaN
11,15,2,1,2017-09-19 23:14:46,"(-122.3850824,37.7544083)",NaN
12,21,2,1,2017-09-19 23:14:44,"(-122.3849966,37.754441)",NaN
13,239,2,1,2017-09-19 23:14:47,"(-122.3849436,37.7544109)",NaN
14,139,2,2,2017-09-19 23:14:47,"(-122.3963814,37.745312)",NaN
15,242,2,2,2017-09-19 23:14:52,"(-122.3967643,37.7456745)",NaN
16,8,2,2,2017-09-19 23:14:53,"(-122.3961904,37.7452377)",NaN
17,43,2,9,2017-09-19 23:14:01,"(-122.40512,37.7667579)",NaN
18,24,2,1,2017-09-19 23:14:55,"(-122.3931393,37.7558169)",NaN
19,315,2,1,2017-09-19 23:15:00,"(-122.3843992,37.7544659)",NaN
20,125,2,2,2017-09-19 23:15:00,"(-122.396443,37.7453755)",NaN
21,97,2,2,2017-09-19 23:14:58,"(-122.3969125,37.7457938)",5988000.0
22,208,2,1,2017-09-19 23:14:57,"(-122.3931822,37.7559333)",NaN
23,208,2,1,2017-09-19 23:19:41,"(-122.3931781,37.7559297)",NaN
24,63,2,1,2017-09-19 23:23:10,"(-122.3931694,37.7559681)",NaN
25,24,2,1,2017-09-19 23:23:10,"(-122.393143,37.755816)",NaN
26,279,2,2,2017-09-19 23:23:15,"(-122.396482,37.7455075)",NaN
27,115,2,1,2017-09-19 23:27:31,"(-122.3931542,37.7555412)",NaN
28,125,2,2,2017-09-19 23:27:38,"(-122.3964906,37.7452867)",NaN
29,208,2,1,2017-09-19 23:27:39,"(-122.393178,37.7559269)",NaN
...,...,...,...,...,...,...
970,100,2,2,2017-09-19 21:37:52,"(-122.396331,37.7453222)",NaN
971,46,1,1,2017-09-19 21:34:04,"(-122.4184192,37.7728736)",NaN
972,167,2,6,2017-09-19 21:32:24,"(-122.4030157,37.7278245)",NaN
973,119,5,8,2017-09-19 19:33:22,"(-122.409324,37.765568)",716000.0
974,319,2,2,2017-09-19 21:32:29,"(-122.4204553,37.7505723)",NaN
975,50,5,8,2017-09-19 19:32:51,"(-122.420682,37.774119)",NaN
976,163,2,2,2017-09-19 21:38:01,"(-122.4234758,37.7956723)",NaN
977,208,2,1,2017-09-19 21:37:57,"(-122.4078064,37.8073106)",9686000.0
978,25,2,1,2017-09-19 21:38:01,"(-122.3850103,37.7544329)",NaN
979,319,2,2,2017-09-19 21:38:01,"(-122.4341718,37.7524449)",3799000.0
980,163,2,2,2017-09-19 21:38:04,"(-122.4235123,37.7958958)",13164101.0
981,201,2,2,2017-09-19 21:38:02,"(-122.4532655,37.7682451)",NaN
982,150,2,4,2017-09-19 21:38:06,"(-122.422076800928,37.7886954151411)",13156201.0
983,201,2,2,2017-09-19 21:38:05,"(-122.453182,37.7682561)",13380000.0
984,183,2,6,2017-09-19 21:38:05,"(-122.4285023,37.774295)",9755000.0
985,319,2,2,2017-09-19 21:38:05,"(-122.4341874,37.7526573)",3799000.0
986,118,2,2,2017-09-19 22:48:18,"(-122.39678,37.7455942)",NaN
987,323,2,6,2017-09-19 22:48:18,"(-122.4425597,37.728869)",NaN
988,43,2,9,2017-09-19 22:47:12,"(-122.4051172,37.7667519)",NaN
989,79,2,2,2017-09-19 22:48:19,"(-122.3970639,37.745819)",12623000.0
990,113,4,5,2017-09-19 17:45:08,"(-122.416306,37.77742)",NaN
991,13,2,1,2017-09-19 22:53:37,"(-122.3980296,37.7455128)",NaN
992,118,2,2,2017-09-19 22:53:28,"(-122.396776,37.7456005)",NaN
993,21,2,1,2017-09-19 22:53:38,"(-122.3850277,37.754412)",NaN
994,239,2,1,2017-09-19 22:53:43,"(-122.3849492,37.7544102)",NaN
995,201,2,2,2017-09-19 22:53:40,"(-122.3962704,37.7454209)",5988000.0
996,118,2,2,2017-09-19 22:53:40,"(-122.3967755,37.7456011)",NaN
997,279,2,2,2017-09-19 22:53:46,"(-122.3965033,37.7455756)",5988000.0
998,15,2,1,2017-09-19 22:53:45,"(-122.385109,37.7544147)",NaN
999,63,2,1,2017-09-19 21:32:54,"(-122.3931654,37.7559716)",NaN

## Step 2: fill in the blanks on data that does not have CNN information

In [34]:
import math
import functools
import datetime as dt

def start_time(series):
    return functools.reduce(lambda x, y: x if x < y else y, series)
 
def start_time(series):
    return functools.reduce(lambda x, y: x if x < y else y, series)
        
def new_cnn(series):
    if len(series)<2:
        return True
    else:
        return series[0] != series[1]
    
def flatten_aggregations(df):
    df.columns = [' '.join(col).strip() for col in df.columns.values]
    return df

def create_cnn_events(df):
    return df['cnn'].rolling(2, min_periods=1).apply(new_cnn).cumsum()

def to_summary_format(df):
   return pd.concat([
        df['shuttle_id first'],
        df['cnn first'],
        df['ts min'],
        df['ts max'],
        df['ts count']] ,
        axis=1, 
        keys=['shuttle_id','cnn','start_time', 'end_time','num_points']) 

def aggregate_by_cnn_event(df):
        df['ts'] = df['local_timestamp'].astype('int64')
        df = df.groupby(['cnn_event'])
        df_agg = df.agg({'shuttle_id': 'first', 'cnn': 'first', 'ts': ['min','max','count']})
        
        df_flat = flatten_aggregations(df_agg)        

        res_df = to_summary_format(df_flat)

        res_df['start_time'] = pd.to_datetime(res_df['start_time'], unit='ns')
        res_df['end_time'] = pd.to_datetime(res_df['end_time'], unit='ns')
        return res_df
    
def prep_df_for_summary(df):


    dfs = df.groupby(['shuttle_id'])
    shuttle_map = {}
    for name, grouped in dfs:
        sorted_df = grouped.sort_values('local_timestamp')
        sorted_df['cnn'].fillna(method='ffill',inplace=True)
        print(sorted_df)
        sorted_df['cnn_event'] = create_cnn_events(sorted_df)        
        shuttle_map[name] = aggregate_by_cnn_event(sorted_df)

    return shuttle_map
result = prep_df_for_summary(input_df)
result[8]

     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
295           1                 1                   1 2017-09-19 22:30:19
602           1                 1                   1 2017-09-19 22:33:55
514           1                 1                   1 2017-09-19 22:36:37
763           1                 1                   1 2017-09-19 22:44:07
769           1                 1                   1 2017-09-19 22:44:13
381           1                 1                   1 2017-09-19 22:47:49
638           1                 1                   1 2017-09-19 23:21:13
215           1                 1                   1 2017-09-19 23:21:31
340           1                 1                   1 2017-09-19 23:23:25
563           1                 1                   1 2017-09-19 23:27:01
570           1                 1                   1 2017-09-19 23:27:07
139           1                 1                   1 2017-09-19 23:27:19
224           1                 1                   1 2017-09-19 23:29:31
820           1                 1                   1 2017-09-19 23:30:59
656           1                 1                   1 2017-09-19 23:31:11

                      location         cnn
295  (-122.4220416,37.7846784)   9736000.0
602   (-122.415232,37.7799328)   9736000.0
514    (-122.4172928,37.77424)   9736000.0
763    (-122.41408,37.7481952)   2486101.0
769  (-122.4136448,37.7481952)   2486101.0
381   (-122.4070528,37.738016)   2486101.0
638   (-122.407744,37.7485312)   2480201.0
215  (-122.4086144,37.7484288)   2480201.0
340  (-122.4156288,37.7482816)   2487101.0
563  (-122.4171264,37.7619392)   2487101.0
570  (-122.4171264,37.7619392)   2487101.0
139  (-122.4171264,37.7619456)   2487101.0
224   (-122.4174464,37.765584)  12022000.0
820    (-122.417664,37.767504)  12020000.0
656  (-122.4177536,37.7682976)  12020000.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
450           6                 2                   1 2017-09-19 20:53:26
914           6                 2                   1 2017-09-19 21:05:33
718           6                 2                   1 2017-09-19 21:11:44
270           6                 2                   1 2017-09-19 21:12:40
116           6                 2                   1 2017-09-19 21:13:55
503           6                 2                   1 2017-09-19 21:18:48
507           6                 2                   1 2017-09-19 21:18:51
486           6                 2                   1 2017-09-19 21:25:17
730           6                 2                   1 2017-09-19 21:25:28
741           6                 2                   1 2017-09-19 21:31:56
671           6                 2                   1 2017-09-19 22:13:58
586           6                 2                   1 2017-09-19 22:25:11
174           6                 2                   1 2017-09-19 22:32:39
767           6                 2                   1 2017-09-19 22:42:32
626           6                 2                   1 2017-09-19 23:02:44
197           6                 2                   1 2017-09-19 23:03:07
399           6                 2                   1 2017-09-19 23:08:50
419           6                 2                   1 2017-09-19 23:23:01
560           6                 2                   1 2017-09-19 23:25:18
133           6                 2                   1 2017-09-19 23:25:29
654           6                 2                   1 2017-09-19 23:29:26
425           6                 2                   1 2017-09-19 23:30:46

                      location  cnn
450   (-122.3842911,37.755041)  NaN
914   (-122.3844091,37.754944)  NaN
718   (-122.384456,37.7550881)  NaN
270  (-122.3844591,37.7550872)  NaN
116   (-122.3844679,37.755034)  NaN
503  (-122.3845706,37.7548833)  NaN
507  (-122.3846117,37.7549188)  NaN
486  (-122.3844989,37.7550925)  NaN
730   (-122.384499,37.7550925)  NaN
741   (-122.384495,37.7550807)  NaN
671  (-122.3842752,37.7549426)  NaN
586   (-122.3842395,37.754815)  NaN
174  (-122.3843617,37.7548743)  NaN
767  (-122.3843411,37.7549241)  NaN
626  (-122.3843192,37.7549438)  NaN
197  (-122.3843204,37.7549446)  NaN
399  (-122.3843535,37.7548911)  NaN
419  (-122.3842981,37.7550137)  NaN
560   (-122.384325,37.7550137)  NaN
133  (-122.3843286,37.7550121)  NaN
654   (-122.384363,37.7550345)  NaN
425  (-122.3843692,37.7550366)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
704           8                 2                   2 2017-09-19 21:00:25
108           8                 2                   2 2017-09-19 21:07:55
951           8                 2                   2 2017-09-19 21:18:20
958           8                 2                   2 2017-09-19 21:32:10
573           8                 2                   2 2017-09-19 22:09:59
830           8                 2                   2 2017-09-19 22:24:34
367           8                 2                   2 2017-09-19 22:25:09
596           8                 2                   2 2017-09-19 22:32:05
846           8                 2                   2 2017-09-19 22:52:04
622           8                 2                   2 2017-09-19 23:02:31
860           8                 2                   2 2017-09-19 23:08:35
16            8                 2                   2 2017-09-19 23:14:53
333           8                 2                   2 2017-09-19 23:17:32
211           8                 2                   2 2017-09-19 23:19:49
339           8                 2                   2 2017-09-19 23:21:42
33            8                 2                   2 2017-09-19 23:27:45
808           8                 2                   2 2017-09-19 23:29:05
663           8                 2                   2 2017-09-19 23:30:01
147           8                 2                   2 2017-09-19 23:30:36

                      location  cnn
704  (-122.3961785,37.7451902)  NaN
108  (-122.3961748,37.7452119)  NaN
951  (-122.3961742,37.7452171)  NaN
958  (-122.3961682,37.7452292)  NaN
573  (-122.3961913,37.7452908)  NaN
830  (-122.3961875,37.7452728)  NaN
367   (-122.3961877,37.745272)  NaN
596  (-122.3961878,37.7452653)  NaN
846  (-122.3961893,37.7452488)  NaN
622  (-122.3961921,37.7452423)  NaN
860   (-122.396191,37.7452406)  NaN
16   (-122.3961904,37.7452377)  NaN
333  (-122.3961785,37.7452437)  NaN
211  (-122.3961798,37.7452441)  NaN
339  (-122.3961811,37.7452446)  NaN
33   (-122.3961796,37.7452449)  NaN
808    (-122.39618,37.7452441)  NaN
663  (-122.3961795,37.7452426)  NaN
147   (-122.3961796,37.745242)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
259          10                 2                   2 2017-09-19 20:54:09
468          10                 2                   2 2017-09-19 21:00:44
726          10                 2                   2 2017-09-19 21:12:16
948          10                 2                   2 2017-09-19 21:18:09
498          10                 2                   2 2017-09-19 21:18:43
529          10                 2                   2 2017-09-19 21:19:17
790          10                 2                   2 2017-09-19 21:32:42
545          10                 2                   2 2017-09-19 21:33:05
346          10                 2                   2 2017-09-19 22:02:24
887          10                 2                   2 2017-09-19 22:05:28
365          10                 2                   2 2017-09-19 22:25:07
369          10                 2                   2 2017-09-19 22:32:46
766          10                 2                   2 2017-09-19 22:42:27
383          10                 2                   2 2017-09-19 22:52:28
390          10                 2                   2 2017-09-19 22:57:35
395          10                 2                   2 2017-09-19 22:57:47
625          10                 2                   2 2017-09-19 23:02:39
204          10                 2                   2 2017-09-19 23:08:44

                      location  cnn
259   (-122.396148,37.7452296)  NaN
468  (-122.3961469,37.7452306)  NaN
726  (-122.3961445,37.7452357)  NaN
948  (-122.3961371,37.7452336)  NaN
498  (-122.3961363,37.7452327)  NaN
529  (-122.3961357,37.7452316)  NaN
790  (-122.3960879,37.7452531)  NaN
545  (-122.3960886,37.7452536)  NaN
346  (-122.3961089,37.7452694)  NaN
887  (-122.3961103,37.7452697)  NaN
365  (-122.3961195,37.7452729)  NaN
369  (-122.3961227,37.7452696)  NaN
766  (-122.3961889,37.7452312)  NaN
383  (-122.3961672,37.7452378)  NaN
390  (-122.3961676,37.7452384)  NaN
395  (-122.3961678,37.7452384)  NaN
625  (-122.3961662,37.7452401)  NaN
204    (-122.39616,37.7452424)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
265          13                 2                   1 2017-09-19 21:00:39
925          13                 2                   1 2017-09-19 21:05:59
717          13                 2                   1 2017-09-19 21:06:37
68           13                 2                   1 2017-09-19 21:06:50
719          13                 2                   1 2017-09-19 21:11:42
950          13                 2                   1 2017-09-19 21:18:16
308          13                 2                   1 2017-09-19 21:19:01
756          13                 2                   1 2017-09-19 21:25:59
578          13                 2                   1 2017-09-19 22:10:10
895          13                 2                   1 2017-09-19 22:20:35
901          13                 2                   1 2017-09-19 22:20:46
373          13                 2                   1 2017-09-19 22:39:20
991          13                 2                   1 2017-09-19 22:53:37
391          13                 2                   1 2017-09-19 22:57:39
862          13                 2                   1 2017-09-19 23:08:36
412          13                 2                   1 2017-09-19 23:22:57
569          13                 2                   1 2017-09-19 23:25:23
807          13                 2                   1 2017-09-19 23:29:00
815          13                 2                   1 2017-09-19 23:29:12
885          13                 2                   1 2017-09-19 23:30:29
886          13                 2                   1 2017-09-19 23:30:51

                      location  cnn
265  (-122.3979359,37.7454972)  NaN
925  (-122.3979028,37.7454287)  NaN
717  (-122.3978793,37.7454568)  NaN
68   (-122.3978541,37.7454594)  NaN
719  (-122.3978767,37.7455157)  NaN
950  (-122.3978887,37.7455314)  NaN
308    (-122.39789,37.7455329)  NaN
756  (-122.3978985,37.7455613)  NaN
578  (-122.3979059,37.7455688)  NaN
895  (-122.3979873,37.7455299)  NaN
901  (-122.3979881,37.7455295)  NaN
373  (-122.3980119,37.7454963)  NaN
991  (-122.3980296,37.7455128)  NaN
391  (-122.3980614,37.7453974)  NaN
862  (-122.3980388,37.7454291)  NaN
412  (-122.3979286,37.7455024)  NaN
569  (-122.3979315,37.7455037)  NaN
807  (-122.3979814,37.7455202)  NaN
815  (-122.3979815,37.7455192)  NaN
885  (-122.3979852,37.7455127)  NaN
886   (-122.397985,37.7455109)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
252          15                 2                   1 2017-09-19 20:47:30
62           15                 2                   1 2017-09-19 20:53:47
82           15                 2                   1 2017-09-19 21:07:15
434          15                 2                   1 2017-09-19 22:06:31
160          15                 2                   1 2017-09-19 22:17:51
904          15                 2                   1 2017-09-19 22:21:04
91           15                 2                   1 2017-09-19 22:21:15
99           15                 2                   1 2017-09-19 22:22:00
299          15                 2                   1 2017-09-19 22:28:45
597          15                 2                   1 2017-09-19 22:32:08
764          15                 2                   1 2017-09-19 22:42:28
772          15                 2                   1 2017-09-19 22:42:39
616          15                 2                   1 2017-09-19 22:51:52
998          15                 2                   1 2017-09-19 22:53:45
401          15                 2                   1 2017-09-19 23:08:56
409          15                 2                   1 2017-09-19 23:14:34
11           15                 2                   1 2017-09-19 23:14:46
636          15                 2                   1 2017-09-19 23:19:31
206          15                 2                   1 2017-09-19 23:19:42
341          15                 2                   1 2017-09-19 23:21:46
880          15                 2                   1 2017-09-19 23:22:55
140          15                 2                   1 2017-09-19 23:25:42
32           15                 2                   1 2017-09-19 23:27:45
817          15                 2                   1 2017-09-19 23:29:16
883          15                 2                   1 2017-09-19 23:30:14

                      location  cnn
252  (-122.3851062,37.7544094)  NaN
62   (-122.3851087,37.7544133)  NaN
82   (-122.3851224,37.7544399)  NaN
434  (-122.3850839,37.7544283)  NaN
160  (-122.3851007,37.7544525)  NaN
904  (-122.3850786,37.7544702)  NaN
91   (-122.3850785,37.7544702)  NaN
99   (-122.3850783,37.7544705)  NaN
299  (-122.3850821,37.7544825)  NaN
597  (-122.3850734,37.7544595)  NaN
764  (-122.3850839,37.7544379)  NaN
772  (-122.3850838,37.7544378)  NaN
616  (-122.3850853,37.7544362)  NaN
998   (-122.385109,37.7544147)  NaN
401  (-122.3850785,37.7544099)  NaN
409  (-122.3850824,37.7544083)  NaN
11   (-122.3850824,37.7544083)  NaN
636  (-122.3851037,37.7544355)  NaN
206   (-122.385104,37.7544353)  NaN
341  (-122.3851072,37.7544317)  NaN
880     (-122.385109,37.75443)  NaN
140  (-122.3851073,37.7544313)  NaN
32   (-122.3851069,37.7544315)  NaN
817  (-122.3851078,37.7544304)  NaN
883  (-122.3851081,37.7544303)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
709          21                 2                   1 2017-09-19 21:00:33
935          21                 2                   1 2017-09-19 21:11:31
110          21                 2                   1 2017-09-19 21:13:15
119          21                 2                   1 2017-09-19 21:19:23
744          21                 2                   1 2017-09-19 21:32:07
802          21                 2                   1 2017-09-19 21:42:42
584          21                 2                   1 2017-09-19 22:17:19
822          21                 2                   1 2017-09-19 22:17:30
154          21                 2                   1 2017-09-19 22:17:41
366          21                 2                   1 2017-09-19 22:25:09
104          21                 2                   1 2017-09-19 22:28:35
302          21                 2                   1 2017-09-19 22:28:47
165          21                 2                   1 2017-09-19 22:32:22
172          21                 2                   1 2017-09-19 22:32:34
835          21                 2                   1 2017-09-19 22:39:05
844          21                 2                   1 2017-09-19 22:39:16
993          21                 2                   1 2017-09-19 22:53:38
854          21                 2                   1 2017-09-19 22:57:14
7            21                 2                   1 2017-09-19 22:58:11
861          21                 2                   1 2017-09-19 23:08:34
12           21                 2                   1 2017-09-19 23:14:44
635          21                 2                   1 2017-09-19 23:19:28
142          21                 2                   1 2017-09-19 23:25:40

                      location  cnn
709  (-122.3849687,37.7544578)  NaN
935  (-122.3849665,37.7544554)  NaN
110   (-122.384963,37.7544562)  NaN
119  (-122.3849662,37.7544634)  NaN
744  (-122.3849899,37.7544518)  NaN
802  (-122.3849961,37.7544548)  NaN
584  (-122.3849853,37.7544359)  NaN
822  (-122.3849845,37.7544345)  NaN
154   (-122.3849845,37.754435)  NaN
366  (-122.3849893,37.7544278)  NaN
104  (-122.3849899,37.7544295)  NaN
302  (-122.3849901,37.7544295)  NaN
165   (-122.3850106,37.754429)  NaN
172  (-122.3850109,37.7544292)  NaN
835  (-122.3850276,37.7544079)  NaN
844   (-122.3850277,37.754408)  NaN
993   (-122.3850277,37.754412)  NaN
854  (-122.3849944,37.7544442)  NaN
7    (-122.3849934,37.7544446)  NaN
861  (-122.3850177,37.7544257)  NaN
12    (-122.3849966,37.754441)  NaN
635  (-122.3849871,37.7544372)  NaN
142  (-122.3849791,37.7544354)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
50           24                 2                   1 2017-09-19 20:41:51
241          24                 2                   1 2017-09-19 20:46:42
249          24                 2                   1 2017-09-19 20:47:27
475          24                 2                   1 2017-09-19 21:06:29
79           24                 2                   1 2017-09-19 21:07:03
931          24                 2                   1 2017-09-19 21:11:24
725          24                 2                   1 2017-09-19 21:12:10
304          24                 2                   1 2017-09-19 21:13:28
330          24                 2                   1 2017-09-19 21:27:11
736          24                 2                   1 2017-09-19 21:31:44
794          24                 2                   1 2017-09-19 21:38:32
152          24                 2                   1 2017-09-19 22:17:37
97           24                 2                   1 2017-09-19 22:21:55
829          24                 2                   1 2017-09-19 22:24:31
601          24                 2                   1 2017-09-19 22:32:12
517          24                 2                   1 2017-09-19 22:34:59
380          24                 2                   1 2017-09-19 22:39:34
521          24                 2                   1 2017-09-19 22:42:23
775          24                 2                   1 2017-09-19 22:48:00
619          24                 2                   1 2017-09-19 22:58:01
398          24                 2                   1 2017-09-19 23:08:50
18           24                 2                   1 2017-09-19 23:14:55
336          24                 2                   1 2017-09-19 23:21:38
411          24                 2                   1 2017-09-19 23:22:59
25           24                 2                   1 2017-09-19 23:23:10
562          24                 2                   1 2017-09-19 23:25:20
806          24                 2                   1 2017-09-19 23:29:06
818          24                 2                   1 2017-09-19 23:29:17
149          24                 2                   1 2017-09-19 23:30:46

                      location         cnn
50   (-122.3931595,37.7558547)         NaN
241    (-122.3931575,37.75585)         NaN
249  (-122.3931576,37.7558494)         NaN
475  (-122.3931498,37.7558346)         NaN
79   (-122.3931497,37.7558342)         NaN
931  (-122.3931489,37.7558334)         NaN
725  (-122.3931489,37.7558333)         NaN
304    (-122.393149,37.755833)         NaN
330  (-122.3931508,37.7558277)         NaN
736  (-122.3931309,37.7558403)         NaN
794   (-122.3931292,37.755842)         NaN
152  (-122.3931077,37.7558796)  10336000.0
97   (-122.3931066,37.7558733)  10336000.0
829  (-122.3931108,37.7558728)  10336000.0
601  (-122.3931156,37.7558478)  10336000.0
517  (-122.3931369,37.7558322)  10336000.0
380   (-122.3931379,37.755829)  10336000.0
521  (-122.3931383,37.7558102)  10336000.0
775   (-122.393143,37.7558043)  10336000.0
619  (-122.3931374,37.7558144)  10336000.0
398   (-122.393134,37.7558199)  10336000.0
18   (-122.3931393,37.7558169)  10336000.0
336  (-122.3931431,37.7558159)  10336000.0
411  (-122.3931431,37.7558159)  10336000.0
25     (-122.393143,37.755816)  10336000.0

     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
684          66                 2                   6 2017-09-19 20:53:21
454          66                 2                   6 2017-09-19 20:53:30
65           66                 2                   6 2017-09-19 20:53:57
703          66                 2                   6 2017-09-19 21:00:25
472          66                 2                   6 2017-09-19 21:06:16
477          66                 2                   6 2017-09-19 21:06:28
943          66                 2                   6 2017-09-19 21:18:02
276          66                 2                   6 2017-09-19 21:18:27
309          66                 2                   6 2017-09-19 21:18:56
314          66                 2                   6 2017-09-19 21:19:08
493          66                 2                   6 2017-09-19 21:25:27
758          66                 2                   6 2017-09-19 21:25:57
538          66                 2                   6 2017-09-19 21:26:23
781          66                 2                   6 2017-09-19 21:26:26
331          66                 2                   6 2017-09-19 21:27:11

                      location        cnn
684  (-122.4080074,37.7388684)        NaN
454  (-122.4076406,37.7410361)        NaN
65   (-122.4047222,37.7454282)        NaN
703   (-122.4186196,37.748233)  2489101.0
472  (-122.4221142,37.7649819)   732000.0
477  (-122.4231691,37.7648802)   732000.0
943  (-122.4357795,37.7733591)   732000.0
276  (-122.4331829,37.7736898)  9758000.0
309  (-122.4313619,37.7739326)  9757000.0
314  (-122.4301209,37.7740897)  9756000.0
493  (-122.4056011,37.7677029)  9756000.0
758  (-122.4055147,37.7628604)  9756000.0
538  (-122.4055815,37.7585822)  9756000.0
781  (-122.4050985,37.7581987)  9756000.0
331  (-122.4035834,37.7500125)  9756000.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
452          70                 5                   8 2017-09-19 18:54:52
474          70                 5                   8 2017-09-19 19:07:16
729          70                 5                   8 2017-09-19 19:26:42
780          70                 5                   8 2017-09-19 19:27:02

                    location       cnn
452  (-122.397079,37.714119)       NaN
474  (-122.403608,37.780305)  298000.0
729  (-122.420944,37.731903)  298000.0
780  (-122.427205,37.731804)  298000.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
42           79                 2                   2 2017-09-19 20:41:21
267          79                 2                   2 2017-09-19 21:00:40
282          79                 2                   2 2017-09-19 21:12:50
940          79                 2                   2 2017-09-19 21:17:57
310          79                 2                   2 2017-09-19 21:19:05
524          79                 2                   2 2017-09-19 21:19:16
732          79                 2                   2 2017-09-19 21:25:31
745          79                 2                   2 2017-09-19 21:32:08
539          79                 2                   2 2017-09-19 21:32:52
803          79                 2                   2 2017-09-19 21:42:44
353          79                 2                   2 2017-09-19 22:02:29
888          79                 2                   2 2017-09-19 22:05:53
667          79                 2                   2 2017-09-19 22:13:47
825          79                 2                   2 2017-09-19 22:17:34
516          79                 2                   2 2017-09-19 22:35:00
377          79                 2                   2 2017-09-19 22:39:33
183          79                 2                   2 2017-09-19 22:46:36
989          79                 2                   2 2017-09-19 22:48:19
189          79                 2                   2 2017-09-19 22:52:16
397          79                 2                   2 2017-09-19 23:08:50
644          79                 2                   2 2017-09-19 23:19:39
218          79                 2                   2 2017-09-19 23:19:50
557          79                 2                   2 2017-09-19 23:21:45
876          79                 2                   2 2017-09-19 23:22:53
882          79                 2                   2 2017-09-19 23:27:02

                      location         cnn
42   (-122.4495869,37.7696999)         NaN
267  (-122.4065007,37.7610132)         NaN
282  (-122.3970994,37.7458111)  12623000.0
940  (-122.3970893,37.7458058)  12623000.0
310  (-122.3970879,37.7458053)  12623000.0
524  (-122.3970875,37.7458051)  12623000.0
732  (-122.3970857,37.7458076)  12623000.0
745  (-122.3970885,37.7458107)  12623000.0
539   (-122.3970547,37.745822)  12623000.0
803   (-122.3970761,37.745821)  12623000.0
353  (-122.3970668,37.7458134)  12623000.0
888  (-122.3970665,37.7458135)  12623000.0
667  (-122.3970693,37.7458205)  12623000.0
825  (-122.3970693,37.7458239)  12623000.0
516   (-122.3970536,37.745843)  12623000.0
377  (-122.3970403,37.7458296)  12623000.0
183  (-122.3970615,37.7458211)  12623000.0
989   (-122.3970639,37.745819)  12623000.0
189   (-122.397069,37.7458159)  12623000.0
397  (-122.3970716,37.7458104)  12623000.0
644   (-122.397074,37.7458101)  12623000.0
218   (-122.397074,37.7458101)  12623000.0
557  (-122.3970755,37.7458101)  12623000.0
876   (-122.397076,37.7458099)  12623000.0
882  (-122.3970768,37.7458095)  12623000.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
53           83                 2                   1 2017-09-19 20:47:44
456          83                 2                   1 2017-09-19 20:53:41
471          83                 2                   1 2017-09-19 21:06:16
278          83                 2                   1 2017-09-19 21:18:28
288          83                 2                   1 2017-09-19 21:18:39
752          83                 2                   1 2017-09-19 21:25:46
544          83                 2                   1 2017-09-19 21:33:07
796          83                 2                   1 2017-09-19 21:38:36
898          83                 2                   1 2017-09-19 22:20:38
164          83                 2                   1 2017-09-19 22:25:43
166          83                 2                   1 2017-09-19 22:32:27
512          83                 2                   1 2017-09-19 22:34:54
522          83                 2                   1 2017-09-19 22:42:23
855          83                 2                   1 2017-09-19 22:57:20
629          83                 2                   1 2017-09-19 23:02:43
634          83                 2                   1 2017-09-19 23:14:43
639          83                 2                   1 2017-09-19 23:19:36
212          83                 2                   1 2017-09-19 23:19:47
566          83                 2                   1 2017-09-19 23:25:24

                      location  cnn
53   (-122.3931314,37.7556105)  NaN
456  (-122.3931479,37.7556077)  NaN
471  (-122.3931563,37.7556181)  NaN
278  (-122.3931413,37.7556266)  NaN
288  (-122.3931408,37.7556263)  NaN
752   (-122.393146,37.7556208)  NaN
544  (-122.3931542,37.7556229)  NaN
796   (-122.3931552,37.755624)  NaN
898  (-122.3931176,37.7556472)  NaN
164  (-122.3931157,37.7556454)  NaN
166  (-122.3931259,37.7556177)  NaN
512  (-122.3931303,37.7556154)  NaN
522  (-122.3931298,37.7556221)  NaN
855   (-122.393132,37.7556234)  NaN
629  (-122.3931323,37.7556269)  NaN
634  (-122.3931407,37.7555523)  NaN
639  (-122.3931376,37.7555724)  NaN
212  (-122.3931377,37.7555726)  NaN
566  (-122.3931307,37.7555838)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
440          97                 2                   2 2017-09-19 20:47:10
701          97                 2                   2 2017-09-19 21:00:22
932          97                 2                   2 2017-09-19 21:11:22
728          97                 2                   2 2017-09-19 21:12:19
527          97                 2                   2 2017-09-19 21:19:18
743          97                 2                   2 2017-09-19 21:32:04
797          97                 2                   2 2017-09-19 21:38:37
372          97                 2                   2 2017-09-19 22:39:19
615          97                 2                   2 2017-09-19 22:51:52
9            97                 2                   2 2017-09-19 23:02:52
21           97                 2                   2 2017-09-19 23:14:58
871          97                 2                   2 2017-09-19 23:22:45
225          97                 2                   2 2017-09-19 23:27:53
816          97                 2                   2 2017-09-19 23:29:13

                      location        cnn
440  (-122.3970494,37.7457665)        NaN
701  (-122.3970263,37.7457808)        NaN
932  (-122.3970077,37.7456693)        NaN
728  (-122.3970088,37.7456742)        NaN
527  (-122.3970304,37.7457413)        NaN
743  (-122.3969978,37.7457847)        NaN
797  (-122.3969684,37.7458165)  5988000.0
372  (-122.3969673,37.7458725)  5988000.0
615   (-122.3968799,37.745852)  5988000.0
9      (-122.396892,37.745798)  5988000.0
21   (-122.3969125,37.7457938)  5988000.0
871  (-122.3970583,37.7457986)  5988000.0
225  (-122.3970389,37.7457936)  5988000.0
816  (-122.3970369,37.7457927)  5988000.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
234         100                 2                   2 2017-09-19 20:41:23
251         100                 2                   2 2017-09-19 20:47:29
446         100                 2                   2 2017-09-19 20:53:17
457         100                 2                   2 2017-09-19 20:53:39
114         100                 2                   2 2017-09-19 21:13:42
115         100                 2                   2 2017-09-19 21:13:54
946         100                 2                   2 2017-09-19 21:18:04
483         100                 2                   2 2017-09-19 21:18:38
118         100                 2                   2 2017-09-19 21:19:23
317         100                 2                   2 2017-09-19 21:19:35
750         100                 2                   2 2017-09-19 21:25:38
970         100                 2                   2 2017-09-19 21:37:52
356         100                 2                   2 2017-09-19 22:09:53
910         100                 2                   2 2017-09-19 22:28:22
598         100                 2                   2 2017-09-19 22:32:10
168         100                 2                   2 2017-09-19 22:32:32
374         100                 2                   2 2017-09-19 22:39:22
520         100                 2                   2 2017-09-19 22:42:22
612         100                 2                   2 2017-09-19 22:46:18
179         100                 2                   2 2017-09-19 22:46:29
393         100                 2                   2 2017-09-19 22:57:44
5           100                 2                   2 2017-09-19 22:58:06
129         100                 2                   2 2017-09-19 23:17:26
867         100                 2                   2 2017-09-19 23:22:45
561         100                 2                   2 2017-09-19 23:25:15
805         100                 2                   2 2017-09-19 23:25:26
138         100                 2                   2 2017-09-19 23:25:38
227         100                 2                   2 2017-09-19 23:27:56
819         100                 2                   2 2017-09-19 23:29:16
228         100                 2                   2 2017-09-19 23:29:39
426         100                 2                   2 2017-09-19 23:30:57

                      location  cnn
234    (-122.39636,37.7452926)  NaN
251  (-122.3963673,37.7452833)  NaN
446  (-122.3963667,37.7452913)  NaN
457  (-122.3963662,37.7452919)  NaN
114  (-122.3963461,37.7453092)  NaN
115  (-122.3963457,37.7453084)  NaN
946  (-122.3963229,37.7452792)  NaN
483  (-122.3963233,37.7452791)  NaN
118  (-122.3963245,37.7452804)  NaN
317  (-122.3963246,37.7452807)  NaN
750  (-122.3963298,37.7452873)  NaN
970   (-122.396331,37.7453222)  NaN
356  (-122.3963287,37.7453247)  NaN
910  (-122.3963288,37.7453324)  NaN
598  (-122.3963327,37.7453323)  NaN
168  (-122.3963329,37.7453322)  NaN
374  (-122.3963361,37.7453305)  NaN
520  (-122.3963393,37.7453288)  NaN
612  (-122.3963426,37.7453269)  NaN
179   (-122.3963424,37.745327)  NaN
393  (-122.3963558,37.7452968)  NaN
5     (-122.3963553,37.745296)  NaN
129  (-122.3963319,37.7453081)  NaN
867  (-122.3963301,37.7453091)  NaN
561  (-122.3963284,37.7453137)  NaN
805  (-122.3963281,37.7453142)  NaN
138  (-122.3963277,37.7453147)  NaN
227  (-122.3963282,37.7453151)  NaN
819  (-122.3963293,37.7453162)  NaN
228  (-122.3963293,37.7453169)  NaN
426  (-122.3963289,37.7453182)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
826         113                 4                   5 2017-09-19 17:27:28
157         113                 4                   5 2017-09-19 17:27:32
292         113                 4                   5 2017-09-19 17:33:36
298         113                 4                   5 2017-09-19 17:33:40
832         113                 4                   5 2017-09-19 17:35:44
839         113                 4                   5 2017-09-19 17:39:36
519         113                 4                   5 2017-09-19 17:41:28
771         113                 4                   5 2017-09-19 17:41:36
990         113                 4                   5 2017-09-19 17:45:08
853         113                 4                   5 2017-09-19 17:47:32
386         113                 4                   5 2017-09-19 17:47:44
387         113                 4                   5 2017-09-19 17:47:45
8           113                 4                   5 2017-09-19 17:53:16
403         113                 4                   5 2017-09-19 18:00:56
407         113                 4                   5 2017-09-19 18:01:00
410         113                 4                   5 2017-09-19 18:01:04
646         113                 4                   5 2017-09-19 18:04:24
877         113                 4                   5 2017-09-19 18:06:28
415         113                 4                   5 2017-09-19 18:06:32
420         113                 4                   5 2017-09-19 18:09:56
422         113                 4                   5 2017-09-19 18:10:00
651         113                 4                   5 2017-09-19 18:10:04

                    location         cnn
826  (-122.404991,37.764107)         NaN
157  (-122.404959,37.764448)         NaN
292  (-122.418924,37.772452)   9110000.0
298  (-122.418933,37.772445)   9110000.0
832  (-122.419206,37.774292)  12015101.0
839  (-122.413876,37.778197)  12015101.0
519  (-122.413794,37.776866)   9103000.0
771  (-122.413876,37.776811)   9103000.0
990   (-122.416306,37.77742)   9103000.0
853  (-122.420102,37.774471)   9103000.0
386  (-122.420089,37.774432)   9103000.0
387  (-122.420091,37.774427)   9103000.0
8    (-122.423787,37.788707)   5823000.0
403   (-122.43116,37.800492)   5823000.0
407  (-122.431732,37.800408)   8457101.0
410   (-122.43226,37.800346)   8457101.0
646  (-122.440882,37.799257)   8457101.0
877  (-122.444366,37.798772)   8457101.0
415  (-122.444636,37.798762)   8465101.0
420  (-122.450974,37.797614)   8465101.0
422  (-122.450599,37.797565)   8465101.0
651  (-122.450048,37.797506)   8465101.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
46          115                 2                   1 2017-09-19 20:41:39
571         115                 2                   1 2017-09-19 22:09:57
357         115                 2                   1 2017-09-19 22:18:04
171         115                 2                   1 2017-09-19 22:32:34
176         115                 2                   1 2017-09-19 22:32:45
603         115                 2                   1 2017-09-19 22:46:10
2           115                 2                   1 2017-09-19 22:52:47
631         115                 2                   1 2017-09-19 23:02:51
402         115                 2                   1 2017-09-19 23:14:30
127         115                 2                   1 2017-09-19 23:17:21
640         115                 2                   1 2017-09-19 23:19:33
210         115                 2                   1 2017-09-19 23:19:44
565         115                 2                   1 2017-09-19 23:25:24
135         115                 2                   1 2017-09-19 23:25:35
27          115                 2                   1 2017-09-19 23:27:31
658         115                 2                   1 2017-09-19 23:29:36
229         115                 2                   1 2017-09-19 23:29:48
233         115                 2                   1 2017-09-19 23:30:21

                      location         cnn
46   (-122.3931517,37.7555852)         NaN
571  (-122.3931188,37.7556212)         NaN
357  (-122.3931263,37.7556194)         NaN
171  (-122.3931117,37.7556068)         NaN
176  (-122.3931115,37.7556068)         NaN
603  (-122.3931102,37.7556015)         NaN
2    (-122.3930867,37.7555999)  10336000.0
631   (-122.393102,37.7555878)  10336000.0
402  (-122.3931569,37.7555342)  10336000.0
127  (-122.3931567,37.7555369)  10336000.0
640  (-122.3931567,37.7555382)  10336000.0
210  (-122.3931568,37.7555384)  10336000.0
565  (-122.3931549,37.7555414)  10336000.0
135  (-122.3931548,37.7555414)  10336000.0
27   (-122.3931542,37.7555412)  10336000.0
658  (-122.3931543,37.7555415)  10336000.0
229  (-122.3931543,37.7555414)  10336000.0
233  (-122.3931545,37.7555414)  10336000.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
52          118                 2                   2 2017-09-19 20:47:44
257         118                 2                   2 2017-09-19 20:54:08
67          118                 2                   2 2017-09-19 21:06:49
936         118                 2                   2 2017-09-19 21:11:30
113         118                 2                   2 2017-09-19 21:13:24
947         118                 2                   2 2017-09-19 21:18:09
497         118                 2                   2 2017-09-19 21:18:43
323         118                 2                   2 2017-09-19 21:26:55
889         118                 2                   2 2017-09-19 22:05:53
673         118                 2                   2 2017-09-19 22:14:02
900         118                 2                   2 2017-09-19 22:20:44
167         118                 2                   2 2017-09-19 22:32:28
836         118                 2                   2 2017-09-19 22:39:02
843         118                 2                   2 2017-09-19 22:39:13
768         118                 2                   2 2017-09-19 22:42:29
609         118                 2                   2 2017-09-19 22:46:15
184         118                 2                   2 2017-09-19 22:46:37
986         118                 2                   2 2017-09-19 22:48:18
849         118                 2                   2 2017-09-19 22:52:08
992         118                 2                   2 2017-09-19 22:53:28
996         118                 2                   2 2017-09-19 22:53:40
394         118                 2                   2 2017-09-19 22:57:46
627         118                 2                   2 2017-09-19 23:02:42
632         118                 2                   2 2017-09-19 23:03:29
406         118                 2                   2 2017-09-19 23:14:32
643         118                 2                   2 2017-09-19 23:19:39
556         118                 2                   2 2017-09-19 23:21:45
875         118                 2                   2 2017-09-19 23:22:53

86   (-122.3987554,37.7159955)  377000.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
490         145                 2                   6 2017-09-19 21:25:23
753         145                 2                   6 2017-09-19 21:25:53
322         145                 2                   6 2017-09-19 21:26:44
548         145                 2                   6 2017-09-19 21:33:09
429         145                 2                   6 2017-09-19 22:06:27
432         145                 2                   6 2017-09-19 22:06:30
581         145                 2                   6 2017-09-19 22:10:13
150         145                 2                   6 2017-09-19 22:10:36
899         145                 2                   6 2017-09-19 22:20:43
94          145                 2                   6 2017-09-19 22:21:48
102         145                 2                   6 2017-09-19 22:22:01
828         145                 2                   6 2017-09-19 22:24:24
361         145                 2                   6 2017-09-19 22:25:00
363         145                 2                   6 2017-09-19 22:25:03
291         145                 2                   6 2017-09-19 22:28:34
294         145                 2                   6 2017-09-19 22:28:37

                      location         cnn
490  (-122.3976029,37.7145587)         NaN
753   (-122.400479,37.7218547)         NaN
322   (-122.4060405,37.734102)         NaN
548  (-122.4231947,37.7718762)         NaN
429  (-122.4399699,37.7992775)   8462101.0
432  (-122.4396323,37.7993487)   8462101.0
581  (-122.4241657,37.7989589)  13167201.0
150  (-122.4240437,37.7986736)  13167201.0
899  (-122.4192208,37.7749329)  12015101.0
94      (-122.41851,37.772487)  12016101.0
102  (-122.4180945,37.7711811)  12017201.0
828   (-122.4053854,37.766557)  12017201.0
361  (-122.4064438,37.7604367)  12017201.0
363  (-122.4063634,37.7598221)  12017201.0
291  (-122.3957241,37.7110288)  12017201.0
294  (-122.3955456,37.7101872)  12017201.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
41          148                 2                   6 2017-09-19 20:41:21
239         148                 2                   6 2017-09-19 20:46:39
246         148                 2                   6 2017-09-19 20:47:22
58          148                 2                   6 2017-09-19 20:47:49
682         148                 2                   6 2017-09-19 20:53:19
461         148                 2                   6 2017-09-19 20:53:44
695         148                 2                   6 2017-09-19 21:00:09
707         148                 2                   6 2017-09-19 21:00:27

                      location         cnn
41    (-122.4400604,37.786318)   4815201.0
239  (-122.4259433,37.7898977)   3552000.0
246  (-122.4240032,37.7901315)   3552000.0
58   (-122.4227425,37.7903167)   3550000.0
682  (-122.4199718,37.7784809)  13146201.0
461   (-122.4195525,37.776512)  13144201.0
695  (-122.4031543,37.7518782)  13144201.0
707  (-122.4042503,37.7482038)  13144201.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
685         150                 2                   4 2017-09-19 20:53:24
462         150                 2                   4 2017-09-19 20:53:44
63          150                 2                   4 2017-09-19 20:53:50
64          150                 2                   4 2017-09-19 20:53:58
465         150                 2                   4 2017-09-19 21:00:15
913         150                 2                   4 2017-09-19 21:05:31
918         150                 2                   4 2017-09-19 21:05:40
927         150                 2                   4 2017-09-19 21:06:00
66          150                 2                   4 2017-09-19 21:06:46
70          150                 2                   4 2017-09-19 21:06:55
109         150                 2                   4 2017-09-19 21:07:58
938         150                 2                   4 2017-09-19 21:12:21
281         150                 2                   4 2017-09-19 21:12:49
286         150                 2                   4 2017-09-19 21:12:55
944         150                 2                   4 2017-09-19 21:18:03
274         150                 2                   4 2017-09-19 21:18:24
484         150                 2                   4 2017-09-19 21:18:40
747         150                 2                   4 2017-09-19 21:25:37
734         150                 2                   4 2017-09-19 21:31:42
789         150                 2                   4 2017-09-19 21:32:38
540         150                 2                   4 2017-09-19 21:32:56
982         150                 2                   4 2017-09-19 21:38:06

                                 location         cnn
685  (-122.404114914365,37.7478689909859)         NaN
462  (-122.402873474549,37.7520504068669)         NaN
63   (-122.402850780196,37.7532881342603)         NaN
64   (-122.403017150113,37.7549290402327)         NaN
465   (-122.421344095523,37.777342799312)   5802000.0
913  (-122.422235878298,37.7905479725802)  13158101.0
918  (-122.422361020113,37.7910301415602)  13158101.0
927  (-122.422744995097,37.7929041674713)  13160201.0
66   (-122.423213292027,37.7951077279056)  13163101.0
70    (-122.42329526704,37.7955072094107)  13163101.0
109  (-122.423333907614,37.7956830617392)  13163101.0
938   (-122.434215713406,37.800135696342)   8458101.0
281  (-122.437536539624,37.7997178165594)   8460101.0
286  (-122.438173815722,37.7996371407414)   8461101.0
944  (-122.444880847002,37.7988739265481)   8461101.0
274  (-122.445924561585,37.7986721741388)   8461101.0
484  (-122.447113283093,37.7985356329361)   8467000.0
747   (-122.446075854937,37.798619954882)   8467000.0
734  (-122.428266135724,37.8008128841681)   8455101.0
789  (-122.426594552842,37.8010181216068)   8454101.0
540  (-122.425932332868,37.8011031049449)   8453101.0
982  (-122.422076800928,37.7886954151411)  13156201.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
49          151                 2                   4 2017-09-19 20:41:46
435         151                 2                   4 2017-09-19 20:46:54
244         151                 2                   4 2017-09-19 20:47:13
56          151                 2                   4 2017-09-19 20:47:48
61          151                 2                   4 2017-09-19 20:53:46
258         151                 2                   4 2017-09-19 20:54:09
710         151                 2                   4 2017-09-19 21:05:47
924         151                 2                   4 2017-09-19 21:05:57
929         151                 2                   4 2017-09-19 21:06:05
84          151                 2                   4 2017-09-19 21:07:18
107         151                 2                   4 2017-09-19 21:07:52

                      location        cnn
49     (-122.437393,37.773395)  4801201.0
435  (-122.4391824,37.7820069)  4810201.0
244  (-122.4393748,37.7830042)  4811101.0
56   (-122.4394474,37.7833704)  4811101.0
61    (-122.430596,37.7893138)  4811101.0
258    (-122.4285033,37.78957)  3553000.0
710    (-122.42329,37.7716308)  3553000.0
924   (-122.4224269,37.770655)  3553000.0
929   (-122.4211267,37.770092)  3553000.0
84   (-122.4055996,37.7676825)  3553000.0
107  (-122.4055984,37.7626342)  3553000.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
238         161                 1                   4 2017-09-19 20:48:20
260         161                 1                   4 2017-09-19 20:55:50
261         161                 1                   4 2017-09-19 21:02:14
105         161                 1                   4 2017-09-19 21:09:05
106         161                 1                   4 2017-09-19 21:09:17
285         161                 1                   4 2017-09-19 21:14:35
491         161                 1                   4 2017-09-19 21:27:04
533         161                 1                   4 2017-09-19 21:27:46
329         161                 1                   4 2017-09-19 21:28:52

                      location         cnn
238   (-122.4237056,37.787776)   5485000.0
260  (-122.4251904,37.8006176)   5485000.0
261  (-122.4529024,37.8021536)   5485000.0
105  (-122.4537216,37.8007552)   5485000.0
106  (-122.4535808,37.8004224)   5485000.0
285  (-122.4330624,37.8002016)   8458101.0
491   (-122.417728,37.7701728)  12018101.0
533  (-122.4180608,37.7697216)  12018101.0
329  (-122.4054144,37.7672384)  12018101.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
489         163                 2                   2 2017-09-19 21:25:17
740         163                 2                   2 2017-09-19 21:31:52
788         163                 2                   2 2017-09-19 21:32:36
976         163                 2                   2 2017-09-19 21:38:01
980         163                 2                   2 2017-09-19 21:38:04
892         163                 2                   2 2017-09-19 22:05:56
893         163                 2                   2 2017-09-19 22:06:01
576         163                 2                   2 2017-09-19 22:10:09

                      location         cnn
489   (-122.407947,37.7380121)         NaN
740  (-122.4171606,37.7811739)   8123000.0
788  (-122.4180165,37.7852437)   8123000.0
976  (-122.4234758,37.7956723)   8123000.0
980  (-122.4235123,37.7958958)  13164101.0
892  (-122.4094063,37.7691154)  13164101.0
893  (-122.4082045,37.7688775)  13164101.0
576  (-122.3998146,37.7196558)  13164101.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
532         167                 2                   6 2017-09-19 21:26:04
760         167                 2                   6 2017-09-19 21:32:18
972         167                 2                   6 2017-09-19 21:32:24
785         167                 2                   6 2017-09-19 21:32:30
787         167                 2                   6 2017-09-19 21:32:36

                      location  cnn
532  (-122.3791829,37.7969358)  NaN
760  (-122.4035134,37.7290503)  NaN
972  (-122.4030157,37.7278245)  NaN
785    (-122.40254,37.7266109)  NaN
787  (-122.4020181,37.7252852)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
37          178                 1                   1 2017-09-19 20:36:33
43          178                 1                   1 2017-09-19 20:43:03
458         178                 1                   1 2017-09-19 20:55:21
702         178                 1                   1 2017-09-19 21:02:03
708         178                 1                   1 2017-09-19 21:02:09
713         178                 1                   1 2017-09-19 21:07:27
78          178                 1                   1 2017-09-19 21:14:09
280         178                 1                   1 2017-09-19 21:14:27

                      location         cnn
37   (-122.4204672,37.7481184)   2490201.0
43     (-122.42848,37.7516384)   2490201.0
458  (-122.4375296,37.7735264)   4801201.0
702   (-122.440128,37.7860448)   4814201.0
708   (-122.440128,37.7860448)   4814201.0
713   (-122.4210944,37.784176)  13151201.0
78   (-122.4179584,37.7696928)  13151201.0
280  (-122.4139008,37.7694656)  13151201.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
72          183                 2                   6 2017-09-19 21:06:54
73          183                 2                   6 2017-09-19 21:07:08
269         183                 2                   6 2017-09-19 21:12:39
279         183                 2                   6 2017-09-19 21:12:45
305         183                 2                   6 2017-09-19 21:13:29
941         183                 2                   6 2017-09-19 21:18:03
954         183                 2                   6 2017-09-19 21:18:22
955         183                 2                   6 2017-09-19 21:18:25
482         183                 2                   6 2017-09-19 21:18:36
523         183                 2                   6 2017-09-19 21:19:16
122         183                 2                   6 2017-09-19 21:19:32
495         183                 2                   6 2017-09-19 21:25:26
536         183                 2                   6 2017-09-19 21:26:12
738         183                 2                   6 2017-09-19 21:31:43
791         183                 2                   6 2017-09-19 21:32:44
984         183                 2                   6 2017-09-19 21:38:05

                      location         cnn
72   (-122.4751155,37.7209138)         NaN
73    (-122.475028,37.7226815)    928103.0
269  (-122.4759346,37.7484874)    918201.0
279  (-122.4760007,37.7492968)    917201.0
305  (-122.4761721,37.7510378)    916101.0
941  (-122.4793761,37.7716469)    916101.0
954  (-122.4763317,37.7724338)    916101.0
955  (-122.4757388,37.7724739)    916101.0
482   (-122.473515,37.7724242)    916101.0
523   (-122.471776,37.7742461)  10271201.0
122  (-122.4718597,37.7762216)  10271201.0
495  (-122.4591382,37.7847672)   2420000.0
536  (-122.4590545,37.7832878)   2420000.0
738  (-122.4393279,37.7825032)   2420000.0
791   (-122.4387928,37.779863)   4808101.0
984   (-122.4285023,37.774295)   9755000.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
696         192                 2                   4 2017-09-19 21:00:11
470         192                 2                   4 2017-09-19 21:06:13
88          192                 2                   4 2017-09-19 21:12:45
505         192                 2                   4 2017-09-19 21:18:51
508         192                 2                   4 2017-09-19 21:18:54
320         192                 2                   4 2017-09-19 21:19:36
487         192                 2                   4 2017-09-19 21:25:18
748         192                 2                   4 2017-09-19 21:25:39
754         192                 2                   4 2017-09-19 21:25:57
534         192                 2                   4 2017-09-19 21:26:06
325         192                 2                   4 2017-09-19 21:26:54
328         192                 2                   4 2017-09-19 21:27:12

                                 location         cnn
696  (-122.423877809311,37.7406145027259)         NaN
470  (-122.420656684547,37.7520526048906)         NaN
88   (-122.433949026253,37.7498677468036)   3802000.0
505  (-122.420486399882,37.7503176230335)  13074000.0
508  (-122.420462182063,37.7500567035251)  13074000.0
320  (-122.420312289957,37.7483444193782)  13075000.0
487  (-122.406312693024,37.7342213318103)  13075000.0
748  (-122.404050165901,37.7301680948937)  13075000.0
754  (-122.402486521865,37.7263837494308)  13075000.0
534   (-122.40170524467,37.7243701648318)  13075000.0
325   (-122.39765577961,37.7143659443014)  13075000.0
328  (-122.395606997723,37.7104607668071)  13075000.0
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
35          198                 2                   2 2017-09-19 20:34:53
694         198                 2                   2 2017-09-19 21:00:09
700         198                 2                   2 2017-09-19 21:00:20
919         198                 2                   2 2017-09-19 21:05:41
942         198                 2                   2 2017-09-19 21:18:02
733         198                 2                   2 2017-09-19 21:25:34
841         198                 2                   2 2017-09-19 22:39:09
613         198                 2                   2 2017-09-19 22:46:18
198         198                 2                   2 2017-09-19 23:03:08
858         198                 2                   2 2017-09-19 23:08:15
335         198                 2                   2 2017-09-19 23:17:40
872         198                 2                   2 2017-09-19 23:22:44
881         198                 2                   2 2017-09-19 23:22:55
559         198                 2                   2 2017-09-19 23:25:14
649         198                 2                   2 2017-09-19 23:27:27
813         198                 2                   2 2017-09-19 23:29:10
148         198                 2                   2 2017-09-19 23:30:40

                      location  cnn
35    (-122.396963,37.7457203)  NaN
694  (-122.3969557,37.7457121)  NaN
700  (-122.3969561,37.7457121)  NaN
919  (-122.3969542,37.7457085)  NaN
942  (-122.3969566,37.7457094)  NaN
733  (-122.3969548,37.7457082)  NaN
841  (-122.3969403,37.7457209)  NaN
613  (-122.3969419,37.7457194)  NaN
198   (-122.3969373,37.745716)  NaN
858  (-122.3969372,37.7457152)  NaN
335  (-122.3969375,37.7457132)  NaN
872  (-122.3969377,37.7457132)  NaN
881  (-122.3969377,37.7457132)  NaN
559  (-122.3969377,37.7457128)  NaN
649  (-122.3969377,37.7457124)  NaN
813  (-122.3969377,37.7457121)  NaN
148  (-122.3969378,37.7457116)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
349         200                 2                   2 2017-09-19 22:02:28
669         200                 2                   2 2017-09-19 22:13:56
155         200                 2                   2 2017-09-19 22:17:43
587         200                 2                   2 2017-09-19 22:25:12
188         200                 2                   2 2017-09-19 22:52:17
618         200                 2                   2 2017-09-19 22:57:56
202         200                 2                   2 2017-09-19 23:08:41

                      location  cnn
349  (-122.3970184,37.7457841)  NaN
669  (-122.3970177,37.7457567)  NaN
155  (-122.3970058,37.7457654)  NaN
587  (-122.3969956,37.7458062)  NaN
188  (-122.3969443,37.7457376)  NaN
618  (-122.3969524,37.7457298)  NaN
202  (-122.3969438,37.7457406)  NaN
     shuttle_id  tech_provider_id  shuttle_company_id     local_timestamp  \
939         201                 2                   2 2017-09-19 21:12:21
112         201                 2                   2 2017-09-19 21:13:26
306         201                 2                   2 2017-09-19 21:13:28
277         201                 2                   2 2017-09-19 21:18:28
504         201                 2                   2 2017-09-19 21:18:49
313         201                 2                   2 2017-09-19 21:19:10
494         201                 2                   2 2017-09-19 21:25:24
326         201                 2                   2 2017-09-19 21:27:04
737         201                 2                   2 2017-09-19 21:31:42
739         201                 2                   2 2017-09-19 21:31:45
761         201                 2                   2 2017-09-19 21:32:20
981         201                 2                   2 2017-09-19 21:38:02
983         201                 2                   2 2017-09-19 21:38:05
800         201                 2                   2 2017-09-19 21:38:41
907         201                 2                   2 2017-09-19 22:21:11
175         201                 2                   2 2017-09-19 22:32:42
770         201                 2                   2 2017-09-19 22:42:33
182         201                 2                   2 2017-09-19 22:46:32
779         201                 2                   2 2017-09-19 22:48:13
851         201                 2                   2 2017-09-19 22:52:09
995         201                 2                   2 2017-09-19 22:53:40
628         201                 2                   2 2017-09-19 23:02:44
207         201                 2                   2 2017-09-19 23:19:41
555         201                 2                   2 2017-09-19 23:21:47
869         201                 2                   2 2017-09-19 23:22:44
222         201                 2                   2 2017-09-19 23:22:55
136         201                 2                   2 2017-09-19 23:25:34

Empty DataFrame
Columns: [shuttle_id, cnn, start_time, end_time, num_points]
Index: []

## Step 4: Insert into shuttle_summary_facts Table

In [358]:
for a in result.values():
    a.to_sql(name='shuttle_summary_facts', index=False, if_exists='append', chunksize=10000, con=conn)